<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách sản phẩm</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <div class="product-grids">
        <div class="product-card">
            <img src="img/imgda1/img4.1.jpg" alt="Bàn nước Orientale walnu">
            <h4 class="product-name">Bàn nước Orientale walnu</h4>
            <h4 class="product-price">49,900,000₫</h4>
            <button class="add-to-cart">THÊM VÀO GIỎ</button>
            <button class="view-details">XEM THÊM</button>
        </div>
        <div class="product-card">
            <img src="img/imgda1/img4.1.jpg" alt="Bàn nước Orientale walnu">
            <h4 class="product-name">Bàn nước Orientale walnu</h4>
            <h4 class="product-price">49,900,000₫</h4>
            <button class="add-to-cart">THÊM VÀO GIỎ</button>
            <button class="view-details">XEM THÊM</button>
        </div>
        <div class="product-card">
            <img src="img/imgda1/img4.1.jpg" alt="Bàn nước Orientale walnu">
            <h4 class="product-name">Bàn nước Orientale walnu</h4>
            <h4 class="product-price">49,900,000₫</h4>
            <button class="add-to-cart">THÊM VÀO GIỎ</button>
            <button class="view-details">XEM THÊM</button>
        </div>
        <div class="product-card">
            <img src="img/imgda1/img4.1.jpg" alt="Bàn nước Orientale walnu">
            <h4 class="product-name">Bàn nước Orientale walnu</h4>
            <h4 class="product-price">49,900,000₫</h4>
            <button class="add-to-cart">THÊM VÀO GIỎ</button>
            <button class="view-details">XEM THÊM</button>
        </div></div>
</div>
</body>
</html>